*.a
*.dll
*.dylib
*.exe
*.moc
*.o
*.rcc
*.so
*.so.1
*.patch
*.rar
*/out
*/bin
.DS_Store
bsnes+.app/
.idea/
*.pcf
bsnes/ui-qt/state/
/bsnes/wasm/test/*.wasm
/bsnes/wasm/test/*.zip
/bsnes/wasm/test2/*.wasm
/bsnes/wasm/test2/*.zip