* {
    background-color: #1e1e1e;
    color: silver;
    font-family: Courier;
}

span.debug {
    color: green;
}

span.info {
    color: silver;
}

span.warn {
    color: darkorange;
}

span.error {
    color: red;
}
